@charset "UTF-8";

nav .fa-solid {
    display: none;
}

.feedback {
    min-height: 80vh;
    gap: 1rem;
}

h2 {
    font-size: clamp(1.7rem, 3vw, 5rem);
    margin-top: 14rem;
}

.feedback p {
    text-align: center;
    font-size: clamp(1.2rem, 2vw, 3.5rem);

    white-space: wrap;
    line-height: 2.4rem;
}

.footer {
    min-height: 20vh;
}

