@charset "UTF-8";

.fa-solid.fa-bars, .fa-solid.fa-circle-left {
    color: white;
    display: none;
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    header {
        padding: 2rem 2rem 2rem 5rem;
    }

    .fa-solid.fa-bars, .fa-solid.fa-circle-left {
        font-size: 4rem;
        display: unset;
    }

    .top {
        width: 40px;
        height: 40px;
    }
    
}

@media (max-width: 960px) {
    .products, .choices-container {
        padding: 4rem;

    }

    .products ul, .choices-grid {
        flex-direction: column;
    }

    .choice, .products li {
        width: 80vw;

    }
}

@media (max-width: 1040px) {
    .request-payment.request-section {
        display: none;
    }

    .request-extra.request-section {
        display: none;
    }

    .choose-payment.request-section {
        display: unset;
    }

    .choose-drink.request-section {
        display: unset;
    }

    #form {
        width: 60vw;
    }
}
