@charset "UTF-8";

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;

}

* {
    font-family: 'Poppins';
}

body {
    width: 100%;
    min-height: 100vh;

    overflow-x: hidden;

}

/* Cabeçalho da página*/


header {
    width: 100%;
    min-height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    padding: 2rem 5rem;
    background-image: linear-gradient(to left top, rgb(109, 109, 109) 0, rgb(92, 92, 92) 50%, rgb(68, 68, 68) 100%);
    box-shadow: 3px 3px 20px rgba(49, 49, 49, 0.534);
}

nav {
    font-size: 1.7rem;
}

ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(163, 163, 163);
}

/* Elementos da parte principal da página  */

#hero {
    position: relative;
    width: 100%;
}

#hero img {
    width: 100%;
    filter: brightness(0.6);
    margin-top: 14rem;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    font-size: clamp(1.2rem, 3.5vw, 5.6rem);
    white-space: nowrap;
    background-image: linear-gradient(to right, rgba(134, 134, 134, 0.651) 0, rgba(247, 245, 243, 0.315) 50%, rgba(51, 51, 51, 0.329) 100%);
    color: white;
    padding-block: clamp(1rem, 2vw, 3rem);
    padding-inline: clamp(2rem, 2vw, 5rem);
    border-radius: 3rem;

    margin-top: 6.5rem;
}

/* Definições genéricas para títulos */

h2 {
    white-space: nowrap;
    font-size: clamp(2rem, 5vw, 3.7rem);
}

h3 {
    font-size: clamp(1.8rem, 4vw, 2.3rem);
    margin-bottom: 2rem;
}

/* Formatações da seção "Por que escolher a Oui?" */

.choices-container {
    display: flex;
    width: 100%;
    min-height: max-content;
    padding: 5rem;
    background-image: linear-gradient(to right, rgb(219, 218, 216) 0, rgb(247, 245, 243) 50%, rgb(247, 245, 243) 100%);
    flex-direction: column;
    gap: 3rem;
    align-items: center;

    scroll-margin-top: 14rem;
}

.choices-grid {
    display: flex;
    gap: 4rem;
}

.choices-grid i {
    color: rgb(84, 173, 91);
    font-size: clamp(3rem, 4vw, 4rem);
    display: inline-flex;
    width: fit-content;
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    

    border-radius: 1.3rem;
    padding-block: clamp(1rem, 2vw, 2.5rem);
    padding-inline: clamp(2rem, 2vw, 5rem);

    border: 0.1px solid  rgba(128, 128, 128, 0.37);
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.185);
}

.choice:hover{
    background-color: rgba(253, 253, 253, 0.267);
}


.choices-grid p {
    gap: 10px;
    white-space: nowrap;
    font-size: clamp(2rem, 3vw, 2.5rem);
}

/* Formatações da seção "Nossos produtos" */

.products {
    width: 100%;
    min-height: 200px;
    background-image: radial-gradient( rgb(156, 104, 30) 0, rgb(129, 86, 26) 50%, rgb(68, 39, 9)100%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    scroll-margin-top: 14rem;
}

.products h2 {
    color: rgba(255, 245, 200, 0.877);
}

.products li {
    background-color: rgba(253, 239, 176, 0.877);
    padding-block: clamp(1rem, 2vw, 1.5rem);
    padding-inline: clamp(2rem, 2vw, 5rem);
    font-size: clamp(2rem, 3vw, 2.5rem);

    border-radius: 3rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.315);
    text-align: center;
    font-weight: 400;
}

.products li:hover {
    background-color: rgb(230, 214, 146);
}

.products .more {
    background-color: rgba(247, 221, 110, 0.877);
}

.products .more:hover {
    background-color: rgba(231, 207, 101, 0.877);
}

/* Formatações da seção "O que nossos clientes dizem" */


.feedback {
    /* position: relative; */
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    gap: 28rem;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, rgba(139, 139, 139, 0.486) 0, rgb(231, 229, 229) 50%, rgba(139, 139, 139, 0.486)100%);
    padding: 5rem;

    border-bottom: solid 4px rgba(109, 75, 3, 0.884);
    scroll-margin-top: 14rem;
}

.feedback-carousel {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    align-items: center;
    gap: 2rem;

    transform: translateX(0);
    opacity: 1;

    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
}


.feedback-carousel img {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.274);
    border-radius: 50%;
    width: max-content;
    inset: 0;
}

.feedback-carousel p {
    white-space: nowrap;
    font-size: clamp(1.4rem, 3vw, 2rem);
    line-height: 1;
    /* align-self: center; */
}


.feedback-carousel .nome-cliente {
    background-color: rgba(243, 202, 114, 0.884);
    padding: 1rem 2rem;
    border-radius: 4rem;
    font-size: clamp(1.7rem, 4vw, 2rem);
    font-weight: 300;
}

.buttons {
    display: flex;
    gap: 15px;
}

.buttons input {
    color: white;
    font-size: clamp(1.4rem, 3vw, 2rem);
    background-color: rgb(110, 106, 106);
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.buttons input:hover {
    background-color: rgb(83, 83, 83);
    cursor: pointer;

}

/* Formatações da seção "Faça já o seu pedido!" */


.request-container {
    display: flex;
    min-height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
    padding: 4rem;

    scroll-margin-top: 14rem;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 45vw;
}

.request-areas {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

.request-section  {
    height: fit-content;
    padding: 1rem;
    font-size: clamp(1.5rem, 3vw, 2rem);
    border: solid 0.1rem rgba(0, 0, 0, 0.336);
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}

select.request-section option {
        font-size: clamp(1rem, 1.4vw, 1.6rem);

        padding: 0;
    
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-group .request-section {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    background-image: linear-gradient(to right, rgba(247, 250, 238, 0.705) 0, rgba(250, 253, 241, 0.836) 50%, rgba(247, 250, 238, 0.705) 100%);

    text-align: left;

}

.input-group label {
    margin-right: 2rem;
    font-size: clamp(1.5rem, 3vw, 2rem);
}

.request-submit {
    align-self: center;
    justify-self: center;
    width: 100%;
    background-color: rgb(84, 173, 91);
    color: white;
    font-weight: 500;
    border: none;

    cursor: pointer;
}

.request-submit:hover {
    background-color: rgba(84, 173, 91, 0.74);

}

/* Inputs que irão aparecer em certa proporção */

.choose-payment.request-section {
    display: none;
}

.choose-drink.request-section {
        display: none;
}

/* Formatações do rodapé*/

.footer {
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;
    width: 100%;
    height: max-content;
    background-image: linear-gradient(rgb(65, 62, 59) 0, rgb(58, 55, 51) 50%, rgb(14, 13, 12)100%);
    padding: 2rem;
}

.footer-text {
    align-self: center;
    justify-self: center;
    margin: auto;

    font-size: clamp(1.4rem, 3vw, 2rem);
    color: white;
    text-align: center;
}

.icons .fa-brands {
    font-size: clamp(1.4rem, 2vw, 2rem);
}

.project-name {
    position: absolute;
    bottom: 10%;
    font-size: clamp(0.4rem, 1.5vw, 1.3rem);
    color: white;
    background-color: black;
    padding: clamp(0.4rem, 1.5vw, 1rem);
    border-radius: 1.3rem;
}

/* Botão para ir para o topo */

.top {
    display: flex;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-image: linear-gradient(to right, rgb(84, 173, 91) 0, rgb(73, 150, 79) 50%, rgb(84, 173, 91) 100%);

    transition: scale 0.2s ease-in-out;
    scale: 1;
}

.top:hover {
    scale: 1.3;
    background-image: linear-gradient(to right, rgba(84, 173, 91, 0.658) 0, rgb(73, 150, 79) 50%, rgba(84, 173, 91, 0.582) 100%);
}

.fa-caret-up {
    display: block;
    line-height: 1;
    font-size:4rem;
    color: rgba(255, 255, 255, 0.5);
}



